/* Top Navbar */
.top-navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

.top-navbar li {
        float: left;
        margin: 10px;
        list-style-type: none;
    }
    

ul a {
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}


/* main page */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#google-logo {
    height: 72px;
    width: auto;
    padding: 10px;
}

.search-box {

    
}

.search-buttons {
padding: 30px 10px
}





/* Bottom Navbar */
.bottom-navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DADCE0;
}

.bottom-navbar li {
    float: left;
    margin: 15px 30px;
    list-style-type: none;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


